


.items{
    width: 80%;
    margin: 20px auto;
    height: 100vh;
    text-align: center;
}


.item{
    padding: 20px;
    background: lightgray;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.item:hover{
    background: darkgray;
}

.item p{
    text-align: center;
    font-size: 1.3rem;
   
}

.not-found p{
    color: red;
}
.bag button{
    margin: 20px auto;
    display: flex;
  }